.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
    align-content: center;
}

#center{
    display: flex;
    justify-content: center;
}


#card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-content{ 
    align-items: center;
}

#study-card{
    height:200px;
    border-radius: 20px;
}

#card-1 {
    height: 12rem;
    width: 60rem;
    resize: both;
    white-space: nowrap;      /*keep the text on one line*/
    overflow: hidden;         /*prevent the text from being shown outside the border*/
    text-overflow: ellipsis;  /*cut off text with an elipsis*/
    border-radius: 20px;
}

#deck-container{
    border-radius: 20px;
 
}

@media screen and (max-width: 1199px) {
    
    #card-1 {
        height: 12rem;
        resize: both;
        margin:12px;
        white-space: nowrap;      /*keep the text on one line*/
        overflow: hidden;         /*prevent the text from being shown outside the border*/
        text-overflow: ellipsis;  /*cut off text with an elipsis*/
        border-radius: 20px;
    }
  
  
  }