.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center{
    display: flex;
    justify-content: center;
}


#card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-content{ 
    align-items: center;
}

#study-card{
    height:200px
}

#card-1 {
    height: 12rem;
    width: 60rem;
    resize: both;
    white-space: nowrap;      /*keep the text on one line*/
    overflow: hidden;         /*prevent the text from being shown outside the border*/
    text-overflow: ellipsis;  /*cut off text with an elipsis*/
}