.card-body{
    display: block;
    flex-direction: column;
    align-items: center;
}

#center{
    display: flex;
    justify-content: center;
}

.my-3{
    border: 2px dashed black;
}

#deck-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-content{
    align-items: center;
}

#study-card{
    height: 200px;
}

.card {
    /* put decks side by side */
    display: inline-block;
    margin: 5px;
}
