header {
  height: 200px;
}

.study-buddy-logo {
  position: absolute;

}

.study-buddy-logo{
width: 200px;
}

#navbar {

  display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    flex-direction: row;
  }

  .navitem{
    border-radius: 20px;
  }