.fa-x{
    color:#1bbc9b
}

.fa-x:hover {
    color:white;
}

.fa-x:active {
    color: black;
}

.container {
    flex-wrap: nowrap;
}

#study-card {
    overflow: auto;
    word-break: break-word;
}
