.fa-trash-can {
  color: var(--secondary-color);
  cursor: pointer;
  transition: color var(--transition-speed);
}

.fa-trash-can:hover {
  color: var(--primary-color);
}

.fa-x:active {
  color: var(--text-color);
}

.container {
  flex-wrap: nowrap;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#study-card {
  overflow: auto;
  word-break: break-word;
}

h3 {
  text-align: center;
}

.del-btn,
#greetings {
  border-radius: var(--border-radius);
}

#card-content {
  font-size: 5rem;
}
